/* Main */
.bg-main {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 600px 600px;
  align-items: center;
  justify-content: center;
}

.main-conteudo {
  display: grid;
}
.foto-main {
  place-self: center;
}

.foto-main img {
  display: block;
  filter: drop-shadow(0.5rem 0.5rem 5rem #fff);
}

.main-conteudo h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-conteudo p {
  margin-bottom: 20px;
}

.main-conteudo h1,
.main-conteudo p {
  color: #f9f9f9;
}

@media (max-width: 1200px) {
  .main {
    display: block;
  }

  .main-conteudo {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    place-content: center;
    place-items: center;
  }

  .main-conteudo h1 {
    text-align: center;
  }

  .main-conteudo p {
    text-align: center;
  }
  .foto-main img {
    max-height: 600px;
    margin: 0 auto;
  }

  .cta {
    place-self: center;
    padding: 12px 40px;
  }
}

@media (max-width: 500px) {
  .foto-main img {
    max-height: 350px;
    filter: none;
  }
}
