.bg-planos {
  background: var(--cor-0);
  display: flex;
  flex-direction: column;
}

.planos {
  padding: 40px 20px 40px 20px;
}

.planos h2 {
  text-align: center;
  margin-bottom: 16px;
}

.span-planos {
  font-size: 20px;
  display: block;
  margin-bottom: 32px;
  text-align: center;
  font-weight: bold;
}

.container-planos {
  background: radial-gradient(50% 50% at 50% 50%, #243b55 0%, #053957 100%);
  padding: 60px 70px 60px 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.plano-modal {
  margin-top: 20px;
}

.plano-modal h3 {
  margin-bottom: 16px;
  text-align: center;
}

.lista-planos li + li {
  margin-top: 6px;
}

.lista-planos li {
  position: relative;
  gap: 4px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  opacity: 0.8;
}

.lista-planos li:hover {
  opacity: 1;
}

.lista-planos li::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -20px;
  background: url(../img/svgModal.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

.lista-planos li:hover::before {
  transform: rotate(180deg);
}

.lista-planos img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.mais-info {
  display: inline-block;
  width: 12px;
  height: 12px;
}
.informacoes {
  margin-top: 10px;
  text-align: center;
}

.preco {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn-assinatura {
  place-self: center;
}

@media (max-width: 500px) {
  .container-planos {
    padding: 40px;
  }
  .texto-planos {
    text-align: center;
  }

  .span-planos {
    margin-bottom: 20px;
  }
}
